name: CI Pipeline

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  test-lambda:
    name: Run Lambda Unit Tests
    runs-on: ubuntu-latest
    
    # Set the working directory to the 'src' folder
    defaults:
      run:
        working-directory: ./src

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
          # We also need boto3, which is available in the Lambda runtime
          pip install boto3

      - name: Run tests
        run: |
          python3 -m pytest tests/

  validate-terraform:
    name: Validate Terraform
    runs-on: ubuntu-latest
    needs: test-lambda # Run after tests pass
    
    # Set the working directory to the 'terraform' folder
    defaults:
      run:
        working-directory: ./terraform
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate